<%=@insect.especie%>
<%=image_tag @insect.cover.url%>
<%=@insect.descripcion_biologica%>

<%@insect.images.each do |imagen|%>
    <%=image_tag imagen.cover.url%>
    <h1><%=imagen.part.descripcion%></h1>
<%end%>

<%@insect.ubications.each do |ubicacion|%>
    <%=ubicacion.latitud%>
    <%=ubicacion.longitud%>
<%end%>

