<div class="row">
    <%@insects.each do |insect|%>
        <div class="col s12 m4 l3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <%=link_to insect.cover.url(:tumb) do%>
                        <%=image_tag insect.cover, class:"responsive-img"%>
                    <%end%>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"> 
                        <%=insect.gender.family.order.descripcion%> 
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <p>  <%=link_to insect.especie,insect%> </p>
                </div>
                
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"> 
                        <%=insect.especie%> 
                        <i class="material-icons right">close</i>
                    </span>
                    <%=insect.descripcion_biologica%>
                </div>
            </div>
        </div>
    <%end%>
</div>
<%= paginate @insects %>