  <div class="slider">
            
            <ul class="slides" style="height:10px;">
                   <li>
                        <%=image_tag 'insectos/insectos1.jpg'%> 
                        <div class="caption center-align">
                            <h3>Entomología</h3>
                            <h5 class="light grey-text text-lighten-3"><i>Entomología</i></h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'insectos/insectos2.jpg'%>  
                        <div class="caption left-align">
                            <h3>texto</h3>
                            <h5 class="light grey-text text-lighten-3">texto</h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'insectos/insectos3.jpg'%>  
                        <div class="caption right-align">
                            <h3>Segundotexto</h3>
                            <h5 class="light grey-text text-lighten-3">texto</h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'insectos/insectos4.jpg'%> 
                        <div class="caption center-align">
                            <h3>más texto</h3>
                            <h5 class="light grey-text text-lighten-3">texto</h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'insectos/insectos5.jpg'%> 
                        <div class="caption left-align">
                            <h3>texto</h3>
                            <h5 class="light grey-text text-lighten-3">texto</h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'insectos/insectos6.jpg'%> 
                        <div class="caption right-align">
                            <h3>texto</h3>
                            <h5 class="light grey-text text-lighten-3">texto</h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'insectos/insectos7.jpg'%> 
                        <div class="caption center-align">
                            <h3>texto</h3>
                            <h5 class="light grey-text text-lighten-3">texto</h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'insectos/insectos8.jpg'%> 
                        <div class="caption left-align">
                            <h3>texto</h3>
                            <h5 class="light grey-text text-lighten-3">texto</h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'insectos/insectos9.jpg'%>  
                        <div class="caption right-align">
                            <h3>Texto</h3>
                            <h5 class="light grey-text text-lighten-3">mas texto</h5>
                        </div>
                    </li>
            </ul>
        
        </div>
     </main>
<footer class="card-panel cyan darken-3">
          <div class="container" >
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Facultad de Medicina Forense</h5>
                <p class="white-text text-darken-1">más texto</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">más texto</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Links</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Links</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Links</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 reservado 
            <a class="grey-text text-lighten-4 right" href="#!">links</a>
            </div>
          </div>
        </footer>
            