<div class="slider">
            
            <ul class="slides">
                   <li onmouseover="detener();">
						<cite title="Mueve el cursor fuera de la zona blanca para que las imágenes sigan avanzando"> 
								<img src="imagenes/insectos/m1.jpg"> 
						</cite>                         
                        <div class="caption center-align">
                            <h1 class="light blue-text text-lighten-1">Entomología forense</h1>
                                
                                <h5 style="background-color:rgba(63,72,204,0.8);text-align: justify;">

                                        <p class="light yellow-text text-lighten-1">El laboratorio de Entomología forense de la Facultad de Medicina de <br>la UNAM te da la bienvenida 
										a su página de consulta, donde podrás encontrar información como: imágenes de diferentes  insectos 
										principalmente de importancia forense, su bio-georeferenciación de cada uno de ellos e así como información 
										sobre su biología. Además podrás encontrar una lista a los enlaces de diferentes investigadores especializados 
										del país y extranjeros. Este proyecto busca fomentar la difusión conocimientos afines y facilitar la <br>
                                        comunicación entre investigadores</p>
								</h5>
                                                       
                        </div>
                    </li>
                   
                   <li>
                        <img src="imagenes/insectos/insectos9.jpg"> 
                        <div class="caption left-align">
                            <h5 class="light grey-text text-darken-4">Calliphora coloradensis</h5>
        
                        </div>
                    </li>
					
					<li onmouseover="detener();">
                       <cite title="Mueve el cursor fuera de la zona blanca para que las imágenes sigan avanzando"> 
								<img src="imagenes/insectos/m1.jpg"> 
						</cite> 
                        <div class="caption center-align">
                                                            
                            <h1 class="light blue-text text-lighten-1">Objetivo</h1>
                            
                                <h5 style="background-color:rgba(63,72,204,0.8);text-align: justify;" class="light yellow-text text-lighten-1">

                                        <p>El objetivo de esta página es generar una herramienta de apoyo para investigadores, estudiantes 
										y peritos en entomología forense además de favorecer la difusión de conocimientos las aportaciones 
										y publicaciones de resultados de investigadores reconocidos internacionalmente además de proveer de 
										imágenes que ayuden en la identificación taxonómica de insectos principalmente los de importancia forense,
										mapas de georreferenciación, estacionalidad e información biológica del insecto.</p>

                                        <p>Por otro lado busca ser un enlace entre estudiantes, investigadores, entomólogos principiantes y 
										profesionales además de favorecer la difusión de actividades académicasy de investigación de los 
										colaboradores.</p>
                                </h5>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'originals/insectos2.jpg'%>
                        <div class="caption left-align">
                            <h1 class="light blue-text text-lighten-1">Sarcophagidae</h1>
                        </div>
                    </li>
                    
                     
                    <li>
                         <%=image_tag 'originals/insectos3.jpg'%>  
                        <div class="caption right-align">
                            <h1 class="light blue-text text-lighten-1">Lampyridae</h1>
                        </div>
                    </li>
                    <li>
                         <%=image_tag 'originals/insectos4.jpg'%> 
                        <div class="caption right-align">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <h1 class="light blue-text text-lighten-1">Lucilia</h1><br>
                            <h1 class="light blue-text text-lighten-1">mexicana</h1>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'originals/insectos5.jpg'%> 
                        <div class="caption left-align">
                            <h3 class="light blue-text text-lighten-1">Pupa Culicidae</h3>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'originals/insectos6.jpg'%> 
                        <div class="caption right-align">
                            &nbsp;&nbs;&nbsp;&nbsp;    
                            <h3 class="light blue-text text-lighten-1">Cochliomyia</h3><br>
                            <h3 class="light blue-text text-lighten-1">macellaria</h3>

                        </div>
                    </li>
                    <li>
                        <%=image_tag 'originals/insectos7.jpg'%>  
                        <div class="caption left-align">
                            &nbsp;&nbsp;&nbsp;<br><br><br>
                            <h3 class="light blue-text text-lighten-1">Chrysomya</h3>
                            <h3 class="light blue-text text-lighten-1">rufifacies</h3>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'originals/insectos8.jpg'%> 
                        <div class="caption left-align">
                            <h3 class="light blue-text text-lighten-1">Chalcididae</h3>
                        </div>
                    </li>
                    <li>
                        <%=image_tag 'originals/inicial.jpg'%> 
                        <div class="caption right-align" >
                            <h3 class="light blue-text text-lighten-1">Larva de culicidae</h3>
                        </div>
                    </li>
            </ul>
        
        </div>
     <footer class="card-panel cyan darken-3" onmouseover="proseguir();">
          <div class="container" >
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Facultad de Medicina</h5>
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="http://www.facmed.unam.mx/" target="_blank"> 
							<%=image_tag 'medicina.gif', id:"medicina" ,alt:"Medicina forense", witdh:"100", height:"120"%>
						</a>
				
                <p class="white-text text-darken-1"> 
					&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;
					Entomología forense
				</p>
              </div>
              <div class="col l4 offset-l2 s12">
					
				<h5 class="white-text">Directorio de investigadores</h5>
                <ul>
                  <li id="i1"><a target="_blank" class="grey-text text-lighten-3" href="http://www.millersville.edu/biology/faculty/j_wallace.php">John Wallce</a></li>
                  <li id="i2"><a target="_blank" class="grey-text text-lighten-3" href="http://www.benbowlab.ent.msu.edu/People/Benbow-profile-page.html">Eric Benbow:</a></li>
                  <li id="i3"><a target="_blank" class="grey-text text-lighten-3" href="http://ifri.fiu.edu/faculty/jeffrey-wells/">Jeffrey Wells:</a></li>
                </ul>
				
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container" style="color:white;">
            <center>© 2016 Derechos reservados Universidad Nacional Autónoma de México.</center>
            </div>
          </div>
        </footer>